.main-order-container {
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-right: 70px;
    height: min-content;
    padding: 20px 10px 20px 10px;
}

.product-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.product-icon-display {
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    font-size: 100px;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    color: black;
}

.info-btn-container {
    display: flex;
}

.info-btn {
    display: flex;
    font-size: 13px;
    padding: 0px 5px 0px 5px;
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.product-price {
    display: flex;
    justify-self: flex-end;
    right: 0;
}
