:root {
    --bg-color: #a3b288;
    --secondary-bg-color: #e5eed4;
    --tertiary-bg-color: #8a9678;
    --footer-color: rgb(206, 219, 189);
    --btn-color: #474b40;
    --border-color: #947977;
    --lite-border-color: #94797786;
    --address-color: #834315;
    --cake-red: #b42033;
    --cupcake-pink: rgb(255, 155, 172);
    --dark-bg-color: rgb(44, 61, 42);
    --lite-bg-color: rgb(102, 121, 100);
}

body {
    display: flex;
    flex-direction: column;
    flex: 15;
}
