.cake-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgb(192, 192, 192);
    border: black solid 1px;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    height: min-content;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

table {
    width: 100%;

    tr {
        border-color: rgba(255, 255, 255, 0);
    }

    th,
    td {
        border-bottom: solid 1px gray;
        padding-top: 7px;
    }

    th {
        color: black;
    }

    td {
        color: rgb(65, 65, 65);
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    // .cake-options-container {
    //     width: 100%;
    //     font-size: 12px;
    //     height: 20px;
    //     flex: 0.6;
    // }
}

@media (min-width: 320px) and (max-width: 480px) {
}
