.ccc-count-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.ccc-kind-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0 15px 0;
}

.ccc-choice-container {
    display: flex;
    text-align: center;

    label {
        margin-left: 2px;
        margin-right: 10px;
    }
}

.ccc-make-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0 15px 0;
}

.ccc-choice-container {
    display: flex;
    text-align: center;
}

.ccc-choice {
    width: 125px;
    border: 1px black solid;
    border-radius: 30px;
    margin: 10px;
}

.ccc-title {
    font-size: 15px;
}
.ccc-option {
    font-size: 15px;
}

.ccc-dropdown {
    display: flex;
    width: 285px;
    height: 33px;
    margin-left: 10px;
}

@media (min-width: 481px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 480px) {
    .ccc-count-container {
        align-items: center;
    }

    .ccc-kind-container {
        width: 100%;
        flex-direction: column;

        .ccc-choice-container {
            flex-direction: row;
        }
    }
    .ccc-make-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .ccc-choice-container {
        flex-direction: column;
    }

    .ccc-dropdown {
        width: 230px !important;
    }
}
