.ccd-make-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0 15px 0;
}

.ccd-dropdown {
    display: flex;
    width: 285px;
    height: 33px;
    margin-left: 10px;
}

#ccd-checkbox-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ccd-checkbox-container {
    display: flex;

    .ccd-checkbox {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
}

#ccd-photo-example-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;

    aside {
        font-size: 11px;
        margin-bottom: 20px;
    }

    textarea {
        border-radius: 5px;
        width: 400px;
        height: 30px;
    }
}

.ccd-file-option {
    margin-bottom: 30px;
}

#ccd-extra-details {
    font-size: 12px;
    width: 350px;
    height: 100px;
}

.ccd-title {
    font-size: 15px;
}

.ccd-delivery-option-form {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}
.ccd-delivery-option-label {
    margin: 0 10px 0 10px;
}

.react-datepicker__aria-live {
    display: none;
}

@media (min-width: 481px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 480px) {
    .ccd-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ccd-make-container {
        flex-direction: column;
        width: 100%;
        margin: 15px 0 15px 0;
    }

    #ccd-checkbox-wrapper {
        margin: 15px 0 15px 0;
    }

    .ccd-dropdown {
        height: 33px;
        line-height: 26px;
        font-size: 12px;
    }

    #ccd-photo-example-container {
        align-items: center;
        text-align: center;
        padding: 20px;
        margin: 15px 0 15px 0;
        textarea {
            width: 290px;
        }
        textarea::placeholder {
            line-height: 22px;
        }
        aside {
            font-size: 10px;
        }
    }

    #details-cake-inscription-container {
        align-items: center;
    }

    #ccd-extra-details {
        width: 290px;
    }

    .ccd-textbox-container {
        textarea::placeholder {
            font-size: 10px;
        }
    }
}
