.order-form-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    border-radius: 10px;
    height: min-content;
    margin: 10px;
    background-color: #8f998f;
}

.order-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
    white-space: nowrap;
    background-color: #5f766d;
}

.order-form-header a {
    text-decoration: underline;
    color: rgb(43, 43, 43);
    font-size: 10px;
}

.order-form-info-container {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 10px;
}

.order-form-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.weighted-label {
    font-weight: 500;
    text-decoration: underline;
}

.edit-label {
    color: rgb(43, 43, 43);
    text-decoration: none;
}

.feather-label {
    margin-left: 10px;
}

.details-icon {
    cursor: pointer;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 30px 10px;
}

// tablets
@media (min-width: 481px) and (max-width: 1200px) {
    .order-container {
        padding: 50px !important;
    }
    .component-container {
        flex-direction: column;
        align-items: center;
    }

    .order-form-container {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .order-icon-container {
        font-size: 55px !important;
    }

    .icon-btn-label {
        font-size: 45px !important;
    }

    .send-order-btn button {
        white-space: nowrap;
        padding: 5px 110px 2px 110px !important;
    }
}

@media (max-width: 480px) {
    .order-container {
        padding: 30px !important;
    }
    .component-container {
        flex-direction: column;
    }

    .order-form-container {
        width: 100%;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .order-icon-container {
        font-size: 65px !important;
    }

    .icon-btn-label {
        font-size: 40px !important;
    }

    .send-order-btn button {
        white-space: nowrap;
        padding: 5px 50px 2px 50px !important;
    }

    .order-form-header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .order-form-header span {
        display: flex;
        flex-direction: column;
    }
}
