.homepage-container {
    width: 100%;
    font-family: "Rubik Vinyl", cursive;
    font-weight: 900;
    font-size: 65px;
    background-color: var(--tertiary-bg-color);

    .home-sweets-options-container {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-evenly;
        margin: 100px 0 100px 0;

        .home-sweets-option {
            display: flex;
            text-decoration: none;
            color: black;
            justify-content: center;
            align-items: center;
            border: solid 10px black;
            border-radius: 60px;
            box-shadow: -1px 1px 20px 6px rgba(0, 0, 0, 0.27);
            -webkit-box-shadow: -1px 1px 20px 6px rgba(0, 0, 0, 0.27);
            -moz-box-shadow: -1px 1px 20px 6px rgba(0, 0, 0, 0.27);
            height: 550px;
            width: 550px;

            span {
                text-align: center;
            }
        }

        .home-sweets-option:hover {
            background-color: #d1d0a3;
            transition-timing-function: ease-out;
            transition: 0.2s;
        }
        .home-sweets-option:active {
            background-color: #aaa694;
        }
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    .homepage-container {
        display: flex;
        font-size: 55px;
    }
    .home-sweets-options-container {
        display: flex;
    }

    .home-sweets-option {
        display: flex;
        height: 350px !important;
        width: 350px !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .homepage-container {
        display: flex;
        font-size: 20px;
    }

    .home-sweets-options-container {
        display: flex;
        flex-direction: column;
        margin: 50px 0 50px 0 !important;
    }

    .home-sweets-option {
        border: 5px solid black !important;
        width: 250px !important;
        height: 250px !important;
        margin: 40px;
    }
}
