.cake-make-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cake-size-dropdown {
    display: flex;
    width: 285px;
    height: 33px;
    margin-left: 10px;
}

#checkbox-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkbox-container {
    display: flex;

    .checkbox {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
}

#photo-example-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;

    aside {
        font-size: 11px;
        margin-bottom: 20px;
    }

    textarea {
        border-radius: 5px;
        width: 400px;
        height: 30px;
    }
}

.file-option {
    margin-bottom: 30px;
}

#cake-inscription-container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

#extra-details {
    font-size: 12px;
    width: 350px;
    height: 100px;
}

@media (min-width: 481px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 480px) {
    .build-cake-container {
        width: 100% !important;
    }
    .checkbox-container {
        flex-direction: column;
    }

    .checkbox {
        flex-direction: row !important;
    }

    input {
        width: 15%;
    }

    .cake-size-dropdown {
        align-items: center;
        justify-content: center;
        font-size: 12px;
        width: 240px !important;
    }

    #cake-inscription-container {
        align-items: center;
    }

    #photo-link {
        width: 100% !important;
        height: 100px !important;
    }

    .file-option {
        width: 100%;
    }

    #extra-details {
        width: 300px;
    }

    #photo-example-container {
        align-items: center;
        justify-content: center;
    }

    #extra-details {
        width: 250px;
    }
}
