.cake-make-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cake-size-dropdown {
    display: flex;
    border-radius: 10px;
    width: 285px;
    height: 33px;
    margin-left: 10px;
}

#checkbox-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkbox-container {
    display: flex;

    .checkbox {
        display: flex;
        flex-direction: column;
        margin: 0px 10px 0px 10px;
    }
}

#photo-example-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;

    aside {
        font-size: 11px;
        margin-bottom: 20px;
    }

    textarea {
        border-radius: 5px;
        width: 400px;
        height: 30px;
    }
}

.file-option {
    margin-bottom: 30px;
}

#cake-inscription-container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

#extra-details {
    font-size: 12px;
    width: 350px;
    height: 100px;
}
