.cctc-wrapper {
    display: flex;
    flex-direction: column;

    .cctc {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
}

@media (min-width: 320px) and (max-width: 480px) {
    .cctc-wrapper {
        width: 100%;
    }
    .cctc-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;

        aside {
            font-size: 12px;
        }
    }
}
